mat-card {
    width: 80%;
    margin: 1rem auto;
}
mat-form-field {
    width: 100%;
}
  
mat-spinner {
    margin: auto;
}

.coberturas {
    display: block;
    align-content: center;
    align-items: center;
    min-height: 60px;
    width: 100%;
}
